// Default Color
$key-color: #005C7A;
$key-color-lt: rgba(0, 92, 122, 0.7);
$key-color-ul: rgba(0, 92, 122, 0.3);
$accent-color: #008AB8;
$accent-color-lt: rgba(0, 138, 184, 0.7);
$accent-color-ul: rgba(0, 138, 184, 0.3);
$base-color: #F4F5F6;
$sub-color: white;
$sub-color-strong: #eceff1;
$text-color: #7D7D7D;
$text-color-lt: white;
$text-color-strong: #37474f;

// Addtional Color
// body
$body-bg-color: $base-color;
$body-text-color: $text-color;
$divider-color: $sub-color-strong;

// panel
$panel-bg-color: $sub-color;
$panel-br-color: $sub-color;
$panel-text-color: $text-color;

// nav bar
$nav-bg-color: $key-color;
$nav-bg-color-hover: $accent-color;
$nav-text-color: $text-color-lt;

// heading
$h-large-color: $text-color-strong;
$h-small-color: $text-color;

// btn
$btn-bg-color: $key-color;
$btn-bg-color-hover: $accent-color;
$btn-text-color: $text-color-lt;
$btn-text-color-hover: $text-color-lt;

// tooltip
$tooltip-text-color: $accent-color;

// toast
$toast-bg-color: $base-color;
$toast-text-color: $text-color;
$toast-link-text-color: $accent-color;

// blockquote
$quote-color: $key-color;

// tab
$tab-bg-color: $base-color;
$tab-bg-color-active: $key-color;
$tab-text-color: $key-color;
$tab-text-color-hover: $key-color-lt;
$tab-text-color-disabled: $key-color-ul;

// form
$label-text-color: $text-color;
$prefix-text-color-hover: $key-color;
$input-text-color-hover: $key-color;
$check-bg-color: $key-color;
$check-text-color: $text-color-lt;
$check-bg-color-disabled: $key-color-ul;

// lsit
$list-bg-color: $sub-color;
$list-sr-color: $base-color;
$list-br-color: $sub-color-strong;
$list-text-color: $text-color;
$list-th-bg-color: $sub-color;
$list-link-text-color: $accent-color;
$list-bg-color-hover: $key-color-ul;
$list-text-color-hover: $text-color;
$list-link-text-color-hover: $accent-color;
$list-bg-color-active: $key-color-lt;
$list-text-color-active: $text-color;
$list-link-text-color-active: $text-color-lt;

// table
$table-bg-color: $sub-color;
$table-text-color: $text-color;
$table-th-bg-color: $key-color;
$table-th-text-color: $text-color-lt;
$table-tr-bg-color-striped: $sub-color-strong;
$table-tr-text-color-striped: $text-color;
$table-tr-bg-color-hover: $accent-color-ul;
$table-tr-text-color-hover: $text-color;
$page-text-color: $text-color-strong;
$page-bg-color-hover: $accent-color-ul;
$page-bg-color-active: $accent-color;

// Setting
@import "mapping";

body#ai {
    background-color: $body-bg-color;
    color: $body-text-color;
}

#ai {
    @include mapping;
}
