// Dark Neon
//key=pink
$key-color: #E91E63;
$key-color-lt: #fde7ee;
$key-color-ul: rgba(233, 30, 99, 0.3);

//accent=blue
$accent-color: #2ae7ff;
$accent-color-lt: rgba(42, 231, 255, 0.7);
$accent-color-ul: rgba(42, 231, 255, 0.3);
$accent-color-lt: #7ff0ff;
$accent-color-ul: #d4faff;

// base/sub=black
$base-color: rgba(34, 34, 34, 0.1);
$sub-color: rgba(34, 34, 34, 0.8);

// other
$sub-color-strong: rgba(255, 255, 255, 0.3);
$text-color: #B6B6B6;
$text-color-lt: #727272;
$text-color-strong: $accent-color;
$key-strong-color: rgba(34, 34, 34, 0.7);
$key-strong-color-lt: $key-color-ul;

// Addtional Color
// body
$body-bg-color: $base-color;
$body-text-color: $text-color;
$divider-color: $sub-color-strong;

// panel
$panel-bg-color: $sub-color;
$panel-br-color: $sub-color;
$panel-text-color: $text-color;

// nav bar
$nav-bg-color: $key-strong-color;
$nav-bg-color-hover: $key-strong-color-lt;
$nav-text-color: $text-color-strong;

// heading
$h-large-color: $text-color-strong;
$h-small-color: $text-color-lt;

// btn
$btn-bg-color: $key-color;
$btn-bg-color-hover: $key-color-ul;
$btn-text-color: $text-color;
$btn-text-color-hover: $text-color;

// tooltip
$tooltip-text-color: $accent-color;

// toast
$toast-bg-color: $base-color;
$toast-text-color: $text-color;
$toast-link-text-color: $accent-color;

// blockquote
$quote-color: $key-color;

// tab
$tab-bg-color: $base-color;
$tab-bg-color-active: $key-color;
$tab-text-color: $key-color;
$tab-text-color-hover: $key-color-lt;
$tab-text-color-disabled: $key-color-ul;

// form
$label-text-color: $text-color;
$prefix-text-color-hover: $key-color;
$input-text-color-hover: $key-color;
$check-bg-color: $key-color;
$check-text-color: $text-color-lt;
$check-bg-color-disabled: $key-color-lt;

// lsit
$list-bg-color: $sub-color;
$list-th-bg-color: $sub-color;
$list-bg-color-hover: $key-color-ul;
$list-bg-color-active: $key-color-lt;
$list-sr-color: transparent;
$list-br-color: $base-color;
$list-text-color: $text-color;
$list-link-text-color: $key-color;
$list-text-color-hover: $text-color;
$list-link-text-color-hover: $key-color;
$list-text-color-active: $text-color;
$list-link-text-color-active: $key-color;

// table
$table-bg-color: $sub-color;
$table-th-bg-color: $sub-color;
$table-tr-bg-color-striped: $base-color;
$table-tr-bg-color-hover: $key-color-ul;
$table-text-color: $text-color;
$table-th-text-color: $text-color;
$table-tr-text-color-striped: $text-color;
$table-tr-text-color-hover: $text-color;
$page-text-color: $text-color;
$page-bg-color-hover: $key-color-ul;
$page-bg-color-active: $key-color-lt;


// Setting
@import "mapping";

body#darkneon {
    background-image: linear-gradient(0deg, #31373A, #171717);
    color: $body-text-color;
}

#darkneon {
    @include mapping;
}

#darkneon {
    .tabs {
        background: inherit;
    }

    .card-panel,
    table,
    .collapsible-body,
    .collection .collection-item {
        background: inherit;
    }

    .card-panel:before,
    table:before,
    .collapsible-body:before,
    .collection .collection-item:before {
        -webkit-filter: blur(5px);
        filter: blur(5px);
    }

    .collapsible,
    .collection {
        box-shadow: 0px 0px 5px $sub-color;
    }
}
