// Black Blue
$key-strong-color: #E64A19;
$key-strong-color-lt: #8e6455;
$key-color: #384877;
$key-color-lt: #2A4D95;
$key-color-ul: #5963A3;
$accent-color: #D05DA1;
$accent-color-lt: #D86CF1;
$accent-color-ul: #9B93DD;
$base-color: #333333;
$sub-color: #292929;
$sub-color-strong: #1C1C1C;
$text-color: #505050;
$text-color-lt: #525252;
$text-color-strong: #eb2d6e;

// Addtional Color
// body
$body-bg-color: $base-color;
$body-text-color: $text-color;
$divider-color: $sub-color-strong;

// panel
$panel-bg-color: $sub-color;
$panel-text-color: $text-color;

// nav bar
$nav-bg-color: $key-color;
$nav-bg-color-hover: $accent-color;
$nav-text-color: $text-color-strong;

// heading
$h-large-color: $text-color-strong;
$h-small-color: $text-color;

// btn
$btn-bg-color: $key-color;
$btn-bg-color-hover: $key-color-lt;
$btn-text-color: $text-color-lt;
$btn-text-color-hover: $text-color-lt;

// tooltip
$tooltip-text-color: $accent-color;

// toast
$toast-bg-color: $base-color;
$toast-text-color: $text-color;
$toast-link-text-color: $accent-color;

// blockquote
$quote-color: $key-color;

// tab
$tab-bg-color: $base-color;
$tab-bg-color-active: $key-color;
$tab-text-color: $key-color;
$tab-text-color-hover: $key-color-lt;
$tab-text-color-disabled: $key-color-ul;

// form
$label-text-color: $text-color;
$prefix-text-color-hover: $key-color;
$input-text-color-hover: $key-color;
$check-bg-color: $key-color;
$check-text-color: $text-color-lt;
$check-bg-color-disabled: $key-color-ul;

// lsit
$list-bg-color: $sub-color;
$list-sr-color: $sub-color;
$list-br-color: $base-color;
$list-text-color: $text-color;
$list-th-bg-color: $sub-color;
$list-link-text-color: $accent-color;
$list-bg-color-hover: $accent-color-ul;
$list-text-color-hover: $text-color;
$list-link-text-color-hover: $accent-color;
$list-bg-color-active: $accent-color-lt;
$list-text-color-active: $text-color;
$list-link-text-color-active: $text-color-lt;

// table
$table-bg-color: $sub-color;
$table-text-color: $text-color;
$table-th-bg-color: $key-color;
$table-th-text-color: $text-color-lt;
$table-tr-bg-color-striped: $sub-color-strong;
$table-tr-text-color-striped: $text-color;
$table-tr-bg-color-hover: $accent-color-ul;
$table-tr-text-color-hover: $text-color;
$page-text-color: $text-color;
$page-bg-color-hover: $accent-color-ul;
$page-bg-color-active: $accent-color;

// Setting
@import "mapping";

body#neon {
    // background-color: $body-bg-color;
    background-image: linear-gradient(0deg, #E5B9CA, #BBDDF7);
    color: $body-text-color;
}

#neon {
    @include mapping;
}

#neon {
    // tab
    .tabs {
        background: inherit;
    }

    // nav
    nav {
        background: rgba(255, 255, 255, 0.4);
        border: solid 1px rgba(255, 255, 255, 0.4);
    }

    // panel
    .card-panel {
        background: rgba(255, 255, 255, 0.4);
        border: solid 1px rgba(255, 255, 255, 0.4);
    }
}