// Black Blue
$key-strong-color: #E64A19;
$key-strong-color-lt: #8e6455;
$key-color: #8e6455;
$key-color-lt: #e1d3cd;
$key-color-ul: #f4efed;
$accent-color: #ff5823;
$accent-color-lt: $key-color;
$accent-color-ul: $key-color-lt;
$base-color: #cbcbc1;
$sub-color: #E3E3DE;
$sub-color-strong: #b6aea1;
$text-color: #616161;
$text-color-lt: #212121;
$text-color-strong: white;

// Addtional Color
// body
$body-bg-color: $base-color;
$body-text-color: $text-color;
$divider-color: $sub-color-strong;

// panel
$panel-bg-color: $sub-color;
$panel-text-color: $text-color;

// nav bar
$nav-bg-color: $key-strong-color;
$nav-bg-color-hover: $key-strong-color-lt;

// heading
$h-large-color: $text-color-strong;
$h-small-color: $text-color;

// btn
$btn-bg-color: $key-color;
$btn-bg-color-hover: $key-color-lt;
$btn-text-color: $text-color-lt;
$btn-text-color-hover: $text-color-lt;

// tooltip
$tooltip-text-color: $accent-color;

// toast
$toast-bg-color: $base-color;
$toast-text-color: $text-color;
$toast-link-text-color: $accent-color;

// blockquote
$quote-color: $key-color;

// tab
$tab-bg-color: $base-color;
$tab-bg-color-active: $key-color;
$tab-text-color: $key-color;
$tab-text-color-hover: $key-color-lt;
$tab-text-color-disabled: $key-color-ul;

// form
$prefix-text-color-hover: $key-color;
$input-text-color-hover: $key-color;
$check-bg-color: $key-color;
$check-text-color: $text-color-lt;
$check-bg-color-disabled: $key-color-ul;

// lsit
$list-bg-color: $sub-color;
$list-sr-color: $sub-color;
$list-br-color: $base-color;
$list-text-color: $text-color;
$list-th-bg-color: $sub-color;
$list-link-text-color: $accent-color;
$list-bg-color-hover: $accent-color-ul;
$list-text-color-hover: $text-color;
$list-link-text-color-hover: $accent-color;
$list-bg-color-active: $accent-color-lt;
$list-text-color-active: $text-color;
$list-link-text-color-active: $text-color-lt;

// table
$table-bg-color: $sub-color;
$table-text-color: $text-color;
$table-th-bg-color: $key-color;
$table-th-text-color: $text-color-lt;
$table-tr-bg-color-striped: $sub-color-strong;
$table-tr-text-color-striped: $text-color;
$table-tr-bg-color-hover: $accent-color-ul;
$table-tr-text-color-hover: $text-color;
$page-text-color: $text-color;
$page-bg-color-hover: $key-color-ul;
$page-bg-color-active: $key-color;

// Setting
@import "mapping";

body#sand {
    background-color: $body-bg-color;
    color: $body-text-color;
}

#sand {
    @include mapping;
}